.activity_container {
  display: flex;
  flex-direction: column;

  .empty_div {
    text-align: center;
    color: #828587;
    font-size: large;
    font-style: italic;
  }

  .input_icon {
    display: flex;
    align-items: center;
    border: 1px solid #59b1dc;
    box-shadow: 0 3px 9px 0 rgba(89, 177, 220, 0.32);
    border-radius: 5px;
    background: #fff;
    min-height: 40px;
    max-height: 40px;
    padding: 0 10px;
    margin: 1rem 0 1.85rem 0.55rem;
    cursor: pointer;

    input {
      width: 100%;
      border-radius: 5px;
      color: #828587;
      font-size: 14px;
      cursor: pointer;
      padding: 0;
      height: 100%;
      border: none;
      background: 0 0;
      margin: 0;
    }

    .profile_image {
      min-width: 55px;
      min-height: 55px;
      width: 55px;
      height: 55px;
      margin: 0 10px 0 -20px;
      border-radius: 50%;
      border: 0.01rem solid black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
    }
  }
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d50965;
}

mat-icon {
  font-family: "Material Icons" !important;
  color: #59b1dc;
  font-size: 25px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
