<div class="groups-container">
  <div id="groups-top"></div>

  <div class="create-group-container" *ngIf="canSeeSettingsPage()">
    <mat-icon class="create-new-group" (click)="openDialog()">create</mat-icon>
  </div>

  <div class="new-group-mobile" *ngIf="canSeeSettingsPage()">
    <svg
      version="1.1"
      id="Capa_1"
      (click)="openDialog()"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 50 50"
      style="enable-background:new 0 0 50 50;"
      xml:space="preserve"
    >
      <circle style="fill:#1b3d5d;" cx="25" cy="25" r="25" />
      <line
        style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
        x1="25"
        y1="13"
        x2="25"
        y2="38"
      />
      <line
        style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
        x1="37.5"
        y1="25"
        x2="12.5"
        y2="25"
      />
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
    </svg>
  </div>

  <app-groups
    class="oneGroup"
    *ngFor="let group of (groups | sort: 'date'); index as i"
    [group]="group"
    [index]="i"
  ></app-groups>

  <div class="empty_div" *ngIf="groups?.length === 0 && !isWaiting">
    <p>There are no groups available<br />Be the first to create one 😊</p>
  </div>

  <div class="spinner-container" *ngIf="isWaiting">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>
</div>
