@import "../../../styles/input.scss";
@import "../../../styles/textarea.scss";
@import "../../../styles/button.scss";

.groups-container {
  overflow-y: scroll;
  height: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d50965;
}

.spinner-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 50rem;
}

@media only screen and (max-width: 765px) {
  .groups-container {
    height: 100% !important;
  }
}
