@import "../../../styles/input.scss";
@import "../../../styles/textarea.scss";
@import "../../../styles/button.scss";

.groups-container {
  overflow-y: scroll;
  height: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d50965;
}

mat-icon {
  font-family: "Material Icons" !important;
}

.create-group-container {
  height: 3.5rem;
  .create-new-group {
    padding: 0.2rem;
    font-size: 1.5rem;
    color: #54b0de;
    border: 1px solid #54b0de;
    border-radius: 50px;
    margin-right: 0.5rem;
    width: 1.5rem;
    cursor: pointer;
    float: right;
    margin-top: 0.7rem;
  }
}

.spinner-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 50rem;
}

.new-group-mobile {
  display: none;
}

@media only screen and (max-width: 765px) {
  .groups-container {
    height: 100% !important;
  }
}

@media only screen and (max-width: 450px) {
  .user-name {
    display: none !important;
  }

  .new-post-mobile {
    display: block;
    position: absolute;
    bottom: 2vh;
    right: 1rem;
    z-index: 100;
    width: 2.5rem;
  }

  .create-group-container {
    display: none;
  }
}
