<!-- <div class="members_container">
  <app-member-item *ngFor="let member of groupMembers" [member]="member.user"
    [roleName]="member.role.name !== 'user' ? member.role.name : null"
    [dropdown]="optionsDropdown" [showDropdown]="canPerformAnyActionOn(member)"
    (selectMember)="openOptions($event)"></app-member-item>

  <button class="round" (click)="openAddUserDialog()" *ngIf="canAddMembers()"
    matTooltip="Add member">
    <mat-icon>add</mat-icon>
  </button>

  <div class="waiting" *ngIf="isWaiting">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</div>

<mat-menu #optionsDropdown="matMenu" overlapTrigger="false">
  <div *ngFor="let item of options">
    <p class="select_item" *ngIf="showItem(item)" (click)="optionsClick(item)">
      {{item.name}}</p>
  </div>
</mat-menu> -->
<div>Members</div>
