<div *ngIf="!isWaiting" class="container">
  <div
    *ngFor="let groupMember of members; index as memberIndex"
    class="member-container"
  >
    <div class="single-member" (click)="navigateTo(groupMember.id)">
      <div
        class="member-user-picture"
        [ngStyle]="{ 'background-image': getImage(memberIndex) }"
      ></div>

      <div class="member-info">
        <p class="member-name">{{ groupMember.name }}</p>
        <p>{{ groupMember.position }} - {{ groupMember.company }}</p>
      </div>
    </div>
  </div>

  <div class="empty_div" *ngIf="members?.length === 0">
    <p>There are no members in this group<br />Be the first one to join 😊</p>
  </div>
</div>

<div *ngIf="isWaiting">
  <div class="spinner-container" *ngIf="isWaiting">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>
</div>
