//========Variables=========
$font-blue-color: #1b3d5d;
$font-white-color: #f7f5ee;
$font-family: "Source Sans Pro", sans-serif;
$icons-padding: 0.3rem 0.3rem;

* {
  font-family: $font-family;
}

svg {
  width: 100%;
  height: auto;
}

.active {
  border-bottom: 1px solid #54b0de;

  a {
    color: #54b0de !important;
  }

  svg {
    path {
      fill: #54b0de !important;
    }
    rect {
      fill: #54b0de !important;
    }
  }
}

.navbar-bottom {
  margin: 0;
  margin-top: -1px;
  opacity: 0.25;
}

.logo-notifications-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1.25rem 0;

  .logo-container {
    width: 7rem;
    cursor: pointer;
    svg {
      outline: none;
    }
  }

  .notifications-profile-container {
    width: auto;
    text-align: justify;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin-right: 1rem;

    .recent-notifications {
      position: absolute;
      right: 0;
      top: 0;
      background: red;
      border-radius: 50px;
      font-size: 0.75rem;
      color: white;
      padding: 0.1rem 0.3rem;
    }

    .message-icon {
      display: inline-block;
      width: 1.7rem;
      padding: $icons-padding;
      cursor: pointer;
      position: relative;
    }

    .notifications-icon {
      display: inline-block;
      width: 1.7rem;
      margin-right: 0.45rem;
      padding: $icons-padding;
      cursor: pointer;
      position: relative;
    }

    .notifications-icon:hover,
    .message-icon:hover {
      transform: scale(1.1);
      transform: 0.3s;
    }

    .picture-icon {
      display: inline-block;
      width: 2.55rem;
      padding: 0rem 0.3rem;
      img {
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .user-name {
      display: inline-block;
      padding: 0 0.3rem;

      p {
        color: #1b3d5d;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 2rem;
        font-size: 0.95rem;
        -webkit-font-smoothing: antialiased;
        margin: 0.15rem 0.15rem;
        cursor: pointer;
      }
    }
  }
}

.navigation-bar-container {
  background-color: $font-white-color;
  height: 4.25rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  nav {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f5ee !important;
    div {
      height: 100%;
      background: $font-white-color;
      padding: 0 0.65rem;
      ul {
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        padding-left: 1.5rem;
        li {
          padding-top: 1.1rem;
          text-align: justify;
          display: flex;
          justify-content: flex-end;
          flex-flow: row wrap;
          margin-right: 2rem;
          cursor: pointer;
          outline: none;

          svg {
            width: 1.5rem;
            margin-top: -1.25rem;
            display: inline-block;

            path {
              fill: #194470;
            }

            rect {
              fill: #194470;
            }
          }

          a {
            display: inline-block;
            font-size: 0.9rem;
            color: #194470;
            padding: 0.5rem;
          }
        }
        li:not(.active):hover {
          opacity: 0.725;
        }
      }
    }
  }
}

#navbarNav {
  display: flex;
  justify-content: space-between;

  .new-post-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
  }
}

.footer-menu-mobile {
  display: none;
  background-color: #f7f5ee;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: space-around;
  align-items: center;
  height: 5.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f5ee;
  z-index: 1;
  margin: 0 0.85rem;
}

@media only screen and (max-width: 765px) {
  .large-screens {
    display: none !important;
  }
  .footer-menu-mobile {
    display: flex !important;

    li {
      padding-top: 1.1rem;
      text-align: justify;
      display: flex;
      justify-content: flex-end;
      flex-flow: row wrap;
      margin-right: 2rem;
      cursor: pointer;
      outline: none;

      svg {
        width: 1.5rem;
        margin-top: -1.25rem;
        height: 2rem;

        path {
          fill: #54b0de;
        }

        rect {
          fill: #54b0de;
        }
      }
    }

    .active-mobile {
      border-bottom: none !important;

      path {
        fill: $font-blue-color !important;
      }

      rect {
        fill: $font-blue-color !important;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .user-name {
    display: none !important;
  }
}
