@import "../../../../styles/input.scss";
@import "../../../../styles/textarea.scss";
@import "../../../../styles/button.scss";

.last {
  margin-right: 5px !important;
}

.title-bar {
  position: relative;
  background-color: #9faec0;
  opacity: 0.77;
  box-shadow: 8px 0 20.7px 1.3px rgba(205, 205, 205, 0.14);
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0.85rem;
  letter-spacing: 0.2px;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 0.95rem;
  }
  hr {
    opacity: 0.35;
    margin: 0;
  }
  .goBackToProfile {
    cursor: pointer;
    padding: 0.225rem;
  }
}

.posts-container {
  overflow-y: scroll;
  height: 73vh;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: hidden;

  .group_profile_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 200px;
    position: relative;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 0.75rem;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 480px) {
      min-height: 100px;
    }

    &.scrolling_down {
      height: 0;
      min-height: 0;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100px;
      border-radius: 5px;
      background-image: -webkit-linear-gradient(
        rgba(160, 160, 160, 0),
        rgba(160, 160, 160, 0) 20%,
        rgba(33, 34, 38, 0.97)
      );
      background-image: -o-linear-gradient(
        rgba(160, 160, 160, 0),
        rgba(160, 160, 160, 0) 20%,
        rgba(33, 34, 38, 0.97)
      );
      background-image: linear-gradient(
        rgba(160, 160, 160, 0),
        rgba(160, 160, 160, 0) 20%,
        rgba(33, 34, 38, 0.97)
      );
    }

    .text {
      padding: 10px 15px;
      z-index: 1;
      color: white;

      .name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0.35rem;
      }
    }
  }
  .group_profile_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    min-height: fit-content;

    @media screen and (max-width: 450px) {
      padding: 5px 5px 0;
    }

    .left {
      display: flex;

      .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 3px 15px;
        margin-right: 10px;
        cursor: pointer;
        background-color: #ca2c73;
        width: 85px;

        p {
          color: white;
          font-size: 14px;
          margin: 0;
        }

        &:hover,
        &.selected {
          background-color: #eb5d9d;
        }

        @media screen and (max-width: 480px) {
          margin: 0 5px 5px 0;
          &:nth-child(3),
          &:nth-child(4) {
            margin-bottom: 0;
            height: min-content;
          }
        }
        @media screen and (max-width: 350px) {
          width: 80px;
          img {
            display: none;
          }
        }
      }

      @media screen and (max-width: 480px) {
        flex-wrap: wrap;
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      .create-new-group {
        padding: 0.2rem;
        font-size: 1.5rem;
        color: #54b0de;
        border: 1px solid #54b0de;
        border-radius: 5px;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        margin-top: 0.1rem;
        cursor: pointer;
      }
      .settings_img {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.25rem;
        border: 1px solid #ca2c73;
        border-radius: 5px;
        cursor: pointer;
        outline: none;

        &:hover,
        &.selected {
          border-color: #eb5d9d;
          background-color: #eb5d9d;
        }
      }
    }
  }

  .group_profile_body {
    padding: 0.15rem 0;
  }
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d50965;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

mat-icon {
  font-family: "Material Icons" !important;
}
