.bar-title {
  opacity: 0.77;
  box-shadow: 8px 0 20.7px 1.3px rgba(205, 205, 205, 0.14);
  color: white;
  padding: 0.55rem;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
}
