.page-components {
  background-color: #f7f5ee;
  height: 79.5vh;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: 0;
  .page-wrapper {
    margin: 0;
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-flow: row wrap;

    .peers-component {
      width: 22%;
      height: 65vh;
    }

    .page-content {
      width: 50%;
      margin: 0 2.5%;
      height: 75vh;
    }
    .right-component {
      width: 23%;
      height: 65vh;

      .events-component {
        height: 45vh;
      }
    }
  }
}
