.page-components {
  background-color: #f7f5ee;
  height: 81vh;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: 0;
  .page-wrapper {
    margin: 0;
    padding: 1.6rem 1.4rem;
    display: flex;
    flex-flow: row wrap;

    .peers-component {
      width: 22%;
      height: 65vh;
    }

    .page-content {
      width: 50%;
      margin: 0 1.75%;
      height: 75vh;
    }
    .right-component {
      width: 24.5%;
      height: 65vh;

      .events-component {
        height: 45vh;
      }
    }
  }
}

@media only screen and (max-width: 765px) {
  .page-components {
    height: 82.45vh;
  }
}
