$font-family: "Source Sans Pro", sans-serif;
$font-blue-color: #1b3d5d;
$font-white-color: #f6f6f6;

textarea {
  width: 100%;
  border-radius: 5px;
  border: solid 0.3px #cccccc;
  background-color: #ffffff;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.65rem;
  margin-left: -0.35rem;
  font-size: 0.95rem;
  margin-right: 0;
  padding-right: 0.5rem;
}

textarea:focus {
  outline: none;
  border: 1px solid $font-blue-color;
  background: white !important;
}

::placeholder {
  color: #9c9ea0;
  opacity: 1; /* Firefox */
}

:-ms-textarea-placeholder {
  /* Internet Explorer 10-11 */
  color: #9c9ea0;
}

::-ms-textarea-placeholder {
  /* Microsoft Edge */
  color: #9c9ea0;
}
