@import "../../../styles/input.scss";
@import "../../../styles/textarea.scss";
@import "../../../styles/button.scss";

.blueTag::after {
  border-left: 5px solid #54b0de !important;
}

.blueBorder {
  border: 1px solid #54b0de !important;
}

.blueText {
  color: #54b0de !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.expand {
  margin-bottom: 1.25rem !important;
}

.svgActive {
  background-color: #dddddd !important;
}

.old-comments {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0.25rem;
  position: relative;

  .dropdown-comment {
    position: absolute;
    bottom: 1rem;
    right: 0.35rem;
    z-index: 1;
    height: 1.75rem;
    background-color: transparent;
    z-index: 1;
    margin-top: 0.35rem;

    div {
      padding: 0.3rem 0.67rem;
      display: inline-block;
      width: 1.7rem;
      cursor: pointer;
      position: relative;
      height: 100%;
      background-color: transparent;

      svg {
        height: auto;
        padding: 0.25rem 1rem;
        position: absolute;
        right: 1.15rem;
        top: 0;
        width: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #dddddd;
        }
      }
    }
  }

  .svg-comment-dots {
    position: absolute;
    right: 1.5rem;
    top: 0;
    width: 1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
  }

  .edited-comment {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    font-size: 0.65rem;
    color: #9faec0;
  }
}

.add-comment-wrapper {
  display: flex;
  .add-comment-img-container {
    padding-right: 0.3rem;
    width: 10%;
    img {
      width: 2.25rem;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
    svg {
      width: 2.25rem;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
  }
  .add-new-comment {
    width: 90%;

    .editable-comment {
      display: none;
      textarea {
        margin-top: 1rem;
        width: 95%;
        resize: none;
        overflow-y: none;
        border: 1px solid #d50965;
      }
    }

    .single-comment {
      border-radius: 5px;
      border: solid 0.3px #cccccc;
      background-color: #ffffff;
      line-height: 1.25rem;
      margin-bottom: 1rem;
      padding: 0.25rem 0.65rem;
      margin-left: -0.35rem;
      font-size: 0.9rem;
      margin-right: 0;
      padding-right: 0.5rem;
      -webkit-font-smoothing: antialiased;
      color: #1b3d5d;

      .comment-author {
        margin: 0;
        color: #d50965;
        font-size: 0.75rem;
        height: auto;
        word-break: break-word;
      }

      .comment-content {
        p {
          margin: 0;
          white-space: pre-line;
          height: auto;
          word-break: break-word;
          width: 90%;
          color: #1b3d5d;
        }

        .read-more-comment-state {
          display: none;
        }

        .read-more-comment {
          opacity: 0;
          max-height: 0;
          font-size: 0;
          transition: 0.25s ease;
        }

        .read-more-comment-state:checked
          ~ .read-more-comment-wrap
          .read-more-comment-target {
          opacity: 1;
          font-size: inherit;
          max-height: 999em;
        }

        .read-more-comment-state ~ .read-more-comment-trigger:before {
          content: "See more";
        }

        .read-more-comment-state:checked ~ .read-more-comment-trigger:before {
          content: "See less";
        }

        .read-more-comment-trigger {
          cursor: pointer;
          color: #d50965;
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
    }

    textarea {
      width: 98%;
      resize: none;
    }

    button {
      padding: 0 1.5rem;
      line-height: 1.5rem;
    }
  }
}

@media only screen and (max-width: 765px) {
  .old-comments {
    padding: 0 !important;
  }

  .single-comment {
    margin-left: 0 !important;
  }
}
