@import "../../../styles/input.scss";
@import "../../../styles/textarea.scss";
@import "../../../styles/button.scss";

.entire-post {
  margin-bottom: 2rem;
  .single-post {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    background: white;
    border-radius: 8px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      border-left: 5px solid #d50965;
    }
    .post-content {
      margin: 0;
      max-height: 100%;
      padding: 0.75rem;
      padding-left: 2rem;
      padding-right: 0.75rem;
      -webkit-font-smoothing: antialiased;
      color: #939597;

      .post-header {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;

        .post-details {
          display: flex;
          justify-content: space-between;
          .picture-container {
            padding-right: 0.5rem;
            img {
              width: 3rem;
              border-radius: 50%;
            }
          }
          .post-author {
            .author-name {
              color: #1b3d5d;
              font-weight: bold;
              font-size: 0.8rem;
            }
            .author-position {
              color: #939597;
            }
            .author-company {
              color: #939597;
            }
          }
        }
      }
      .post-message {
        padding: 1.5rem 0;
        .read-more-state {
          display: none;
        }

        .read-more-target {
          opacity: 0;
          max-height: 0;
          font-size: 0;
          transition: 0.25s ease;
        }

        .read-more-state:checked ~ .read-more-wrap .read-more-target {
          opacity: 1;
          font-size: inherit;
          max-height: 999em;
        }

        .read-more-state ~ .read-more-trigger:before {
          content: "See more";
        }

        .read-more-state:checked ~ .read-more-trigger:before {
          content: "See less";
        }

        .read-more-trigger {
          cursor: pointer;
          color: #54b0de;
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
    }

    .likes-and-comments {
      width: 7rem;
      height: 10px;
      position: absolute;
      bottom: -0.85rem;
      left: 5%;
      display: flex;
      flex-flow: row wrap;
      background-color: #1b3d5d;
      color: white;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      font-size: 0.7rem;
      -webkit-font-smoothing: antialiased;

      .likes {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

        .like-svg {
          padding: 0 0.25rem;

          svg {
            height: 0.75rem;
            padding-top: 0.15rem;
          }
        }

        .likes-amount {
          opacity: 0.85;
        }
      }

      .comments {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        .comment-svg {
          padding: 0 0.25rem;

          svg {
            height: 0.75rem;
            padding-top: 0.35rem;
          }
        }
        .comments-amount {
          opacity: 0.85;
        }
      }
    }

    .add-comment {
      width: 7rem;
      height: 10px;
      position: absolute;
      bottom: -0.85rem;
      right: 5%;
      display: flex;
      flex-flow: row wrap;
      background-color: #dddddd;
      color: #194470;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      font-size: 0.7rem;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;

      .add-comment-svg {
        width: 1rem;
        margin-top: 0.25rem;
      }

      .add-comment-text {
        padding: 0 0.25rem;
      }
    }
  }
}

.add-comment-container {
  background-color: #ebeae6;
  margin: 0;
  margin-top: -1rem;
  padding: 2.5rem 1rem;
  padding-bottom: 1.5rem;
  .add-comment-wrapper {
    display: flex;
    .add-comment-img-container {
      padding-right: 0.3rem;
      width: 10%;
      img {
        width: 3rem;
        border-radius: 50%;
      }
    }
    .add-new-comment {
      width: 90%;
      textarea {
        width: 100%;
        resize: none;
      }

      button {
        padding: 0 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}
