@import "../../../styles/input.scss";
@import "../../../styles/textarea.scss";
@import "../../../styles/button.scss";

.posts-container {
  overflow-y: scroll;
  height: 76vh;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: hidden;
}

@media only screen and (max-width: 765px) {
  .posts-container {
    height: 70vh !important;
  }
}
