//========Variables=========
$font-blue-color: #1b3d5d;
$font-white-color: #f7f5ee;
$font-family: "Source Sans Pro", sans-serif;
$icons-padding: 0.3rem 0.3rem;

.trusted-peers-title {
  background-color: #54b0de;
}

.peers-wrapper {
  background: white;
  padding: 0.75rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: auto;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .no_peers {
    opacity: 0.5;
    font-style: italic;
    text-align: center;
    margin: 1rem;
    font-size: 0.9rem;
  }

  .single-peer {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.8rem;
    height: 100%;
    cursor: pointer;
    outline: none;

    .peer-user-picture {
      margin-right: 0.45rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    :nth-last-child(1) {
      margin-bottom: 0;
    }
    .img-peer {
      height: 100%;
      border-radius: 50%;
      width: 20%;
      padding-right: 0.45rem;
    }

    .peer-info {
      font-size: 0.8rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8d8b8b;
      padding: 0.35rem 0;

      p {
        margin: 0;
      }

      .peer-name {
        font-weight: bold;
        color: #194470;
        opacity: 0.8;

        &:hover {
          text-decoration: underline;
        }
      }

      .peer-position {
        font-weight: bold;
      }
    }
  }
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d50965;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
