<div>
  <div class="bar-title trusted-peers-title">Trusted peers</div>
  <div class="peers-wrapper">
    <div class="peers-container">
      <div *ngFor="let peer of peers">
        <div class="single-peer" (click)="navigateTo(peer.id)">
          <div
            class="peer-user-picture"
            [ngStyle]="{
              'background-image': getImage(peer.imgPath)
            }"
            #peerUserImg
          ></div>

          <div class="peer-info">
            <p class="peer-name">{{ peer.name }}</p>
            <p>{{ peer.position }} - {{ peer.company }}</p>
          </div>
        </div>
      </div>
      <div class="no_peers" *ngIf="peers.length === 0">
        You do not have any peers in your contact list
      </div>
    </div>
  </div>
</div>
