@import "../../styles/page-structure.scss";

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.85rem;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1150px) {
  .peers-component {
    display: none;
  }

  .page-content {
    width: 65% !important;
  }

  .right-component {
    width: 30% !important;
  }
}

@media only screen and (max-width: 765px) {
  .page-wrapper {
    padding: 0.45rem 0 !important;
    padding-bottom: 0 !important;
  }

  .page-content {
    height: 100% !important;
  }
  .container {
    padding: 0;
  }
}

@media only screen and (max-width: 906px) {
  .right-component {
    display: none;
  }

  .page-content {
    width: 100% !important;
  }
}
