<div class="container" *ngIf="!loginPage">
  <app-header></app-header>
  <div class="page-components">
    <div class="page-wrapper">
      <div class="peers-component">
        <app-peers></app-peers>
      </div>
      <div class="page-content">
        <router-outlet *ngIf="!loginPage"></router-outlet>
      </div>
      <div class="right-component">
        <div class="events-component">
          <app-events></app-events>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet *ngIf="loginPage"></router-outlet>
