@import "../../styles/page-structure.scss";

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.85rem;
}

.hide {
  display: none;
}

.groups-component {
  margin-bottom: 10%;
  background: white;
  .bar-title {
    background-color: #54b0de;
  }
  .groups-wrapper {
    padding: 0.5rem;
    div {
      border: solid 1px #ebebeb;
      border-radius: 5px;
      color: #7b7c7d;
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.55rem;
      -webkit-font-smoothing: antialiased;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      p {
        margin: 0;
        padding: 0.45rem 0.65rem;
        opacity: 0.8;
      }

      div {
        margin: 0;
      }

      .groups-amount {
        padding: 0.45rem 0.65rem;
        color: rgba(255, 255, 255, 0.85);
        border: none;
        background-color: #d50965;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .peers-component {
    display: none;
  }

  .page-content {
    width: 65% !important;
  }

  .right-component {
    width: 30% !important;
  }
}

@media only screen and (max-width: 765px) {
  .page-wrapper {
    padding: 0.45rem 0 !important;
  }

  .page-content {
    height: 70vh !important;
  }
  .container {
    padding: 0;
  }
}

@media only screen and (max-width: 906px) {
  .right-component {
    display: none;
  }

  .page-content {
    width: 100% !important;
  }
}
