<div class="user-profile-container">
  <div class="title-bar">
    <mat-icon class="goBackToProfile" (click)="goBackToProfile()"
      >arrow_back</mat-icon
    >
    <p class="title">{{ user?.name }} Profile</p>
    <hr />
  </div>

  <div class="top_container" *ngIf="!isWaiting">
    <div class="image_container">
      <div>
        <div
          class="profile_image afterChange"
          [ngStyle]="{ 'background-image': getProfileImage() }"
        ></div>
      </div>
    </div>

    <div class="headline">
      <div class="left">
        <p class="name">{{ user?.name }}</p>
        <p class="description">{{ user?.position }}</p>
        <p class="description">
          {{ user?.company }}
        </p>
      </div>

      <div class="right" *ngIf="user?.id === loggedUser.id">
        <button
          (click)="goToEditProfile()"
          matTooltip="Edit Profile"
          matTooltipPosition="left"
          [routerLink]="[routerLinkVariable, loggedUser.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="bottom_container" *ngIf="!isWaiting">
    <div class="left_container">
      <div class="button-container" *ngIf="user?.id !== loggedUser.id">
        <button
          type="button"
          (click)="
            togglePeer(
              user.id,
              user.name,
              user.position,
              user.company,
              user.imgPath
            )
          "
        >
          {{ isPeer() ? "Remove from Contact List" : "Add to Contact List" }}
        </button>
      </div>

      <div class="info_section">
        <hr />
        <div class="icon">
          <mat-icon matTooltip="Contact information" matTooltipPosition="left"
            >email</mat-icon
          >
        </div>

        <p *ngIf="user?.email" matTooltip="Email" matTooltipPosition="left">
          {{ user?.email }}
        </p>

        <p *ngIf="user?.phone" matTooltip="Telephone" matTooltipPosition="left">
          {{ user?.phone }}
        </p>
        <p
          *ngIf="user?.mobilePhone"
          matTooltip="Mobile phone"
          matTooltipPosition="left"
        >
          {{ user?.mobilePhone }}
        </p>
        <div>
          <img
            src="./assets/images/linkedin.svg"
            alt="Linkedin"
            *ngIf="user?.linkedInProfile"
            (click)="openLinkedin()"
          />
        </div>

        <p
          class="placeholder"
          *ngIf="
            !user?.email &&
            !user?.phone &&
            !user?.mobilePhone &&
            !user?.linkedInProfile
          "
        >
          The member has not added any information.
        </p>
      </div>

      <div class="info_section">
        <hr />
        <div class="icon">
          <mat-icon matTooltip="Company information" matTooltipPosition="left"
            >work</mat-icon
          >
        </div>
        <p *ngIf="user?.company">{{ user?.company }}</p>
        <p *ngIf="user?.companyAddress1">
          {{ user?.companyAddress1 }}
        </p>
        <p *ngIf="user?.companyAddress2">
          {{ user?.companyAddress2 }}
        </p>
        <p *ngIf="user?.companyAddress3">
          {{ user?.companyAddress3 }}
        </p>
        <p *ngIf="user?.companyCity || user?.companyZipCode">
          {{ user?.companyCity }} {{ user?.companyZipCode }}
        </p>
        <p
          class="placeholder"
          *ngIf="
            !user?.company &&
            !user?.companyAddress1 &&
            !user?.companyAddress2 &&
            !user?.companyAddress3 &&
            !user?.companyCity &&
            !user?.companyZipCode &&
            !user?.companyCountry
          "
        >
          The member has not added any information.
        </p>
      </div>

      <div class="info_section card" *ngIf="user?.id === loggedUser.id">
        <hr />
        <div class="icon">
          <mat-icon matTooltip="Private information" matTooltipPosition="left"
            >visibility_off</mat-icon
          >
        </div>

        <p *ngIf="user?.birthday">
          {{ user?.birthday | date: "dd MMM y" }}
        </p>
        <p *ngIf="user?.privateEmail">{{ user?.privateEmail }}</p>
        <p *ngIf="user?.privatePhone">{{ user?.privatePhone }}</p>
        <p *ngIf="user?.privateAddress1">
          {{ user?.privateAddress1 }}
        </p>
        <p *ngIf="user?.privateAddress2">
          {{ user?.privateAddress2 }}
        </p>
        <p *ngIf="user?.privateAddress3">
          {{ user?.privateAddress3 }}
        </p>
        <p *ngIf="user?.privateCity || user?.privateZipCode">
          {{ user?.privateCity }} {{ user?.privateZipCode }}
        </p>

        <p
          class="placeholder"
          *ngIf="
            !user?.birthday &&
            !user?.privateEmail &&
            !user?.privatePhone &&
            !user?.privateAddress1 &&
            !user?.privateAddress2 &&
            !user?.privateAddress3 &&
            !user?.privateCity &&
            !user?.privateZipCode &&
            !user?.privateCountry
          "
        >
          You do not have added any private information.
        </p>
      </div>
    </div>

    <div class="right_container">
      <div class="row">
        <p class="title">RESPONSIBILITIES AND EXPERTISE</p>
        <p class="description" *ngIf="user?.expertise">
          {{ user?.expertise }}
        </p>
        <p class="description placeholder" *ngIf="!user?.expertise">
          The member has not added any information.
        </p>
      </div>

      <div class="row">
        <p class="title">CARRIER AND EXPERIENCE</p>
        <p class="description" *ngIf="user?.background">
          {{ user?.background }}
        </p>
        <p class="description placeholder" *ngIf="!user?.background">
          The member has not added any information.
        </p>
      </div>
    </div>
  </div>
  <div class="spinner-container" *ngIf="isWaiting">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>
</div>
