mat-icon {
  font-family: "Material Icons" !important;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d50965;
}

.spinner-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 50rem;
}

.user-profile-container {
  background: #fff;
  //height: 71vh;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;

  .title-bar {
    position: relative;
    background-color: #9faec0;
    opacity: 0.77;
    box-shadow: 8px 0 20.7px 1.3px rgba(205, 205, 205, 0.14);
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 0.85rem;
    letter-spacing: 0.2px;

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-size: 0.95rem;
    }
    hr {
      opacity: 0.35;
      margin: 0;
    }
    .goBackToProfile {
      cursor: pointer;
      padding: 0.225rem;
    }
  }
}

.top_container {
  display: flex;
  padding: 1.15rem;
  align-items: center;

  .image_container {
    .profile_image {
      width: 4rem;
      height: 4rem;
      margin: auto;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .headline {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    padding-right: 0;
    width: 100%;

    p {
      margin: 0;
    }

    .left {
      display: flex;
      flex-direction: column;

      .name {
        color: #194470;
        font-size: 1.15rem;
        font-weight: 600;
        margin-bottom: 0.2rem;
      }

      .description {
        color: #939597;
        font-size: 0.9rem;
      }
    }

    button {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      min-width: auto;
      background-color: #194470;
    }
  }
}

.bottom_container {
  display: flex;
  padding: 1.15rem;
  padding-bottom: 0.5rem;

  .left_container {
    display: flex;
    flex-direction: column;
    width: 45%;

    .button-container {
      text-align: center;
      margin: 1.75rem 0;
      margin-top: 0;
      button {
        letter-spacing: 0;
        background-color: #54b0de;
        color: white;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
        font-size: 0.85rem;
        padding: 0.15rem 1.5rem;

        &:hover {
          background-color: #2f9dd3;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      button {
        margin-bottom: 15px;
        padding: 7px 10px;
        height: auto;
        width: 100%;
      }
    }

    .info_section {
      width: 100%;
      margin-bottom: 1rem;

      &.card {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #f8f8f8;
        border-radius: 5px;
        .icon {
          background-color: #f8f8f8;
        }
      }

      hr {
        background-color: #194470;
      }

      .icon {
        width: 32px;
        height: 24px;
        margin: -13px auto 10px;
        background: white;
        text-align: center;
        cursor: default;
        margin-top: -1rem;

        mat-icon {
          color: #194470;
          margin-top: -0.4rem;
        }
      }

      p {
        color: #575757;
        margin: 0 auto;
        margin-bottom: 5px;
        word-break: break-all;
        width: fit-content;

        &.helper {
          color: #2b2b2b;
          text-align: center;
          word-break: normal;
          font-size: 14px;
          font-style: italic;
          margin-bottom: 10px;
          opacity: 0.5;
        }

        &.placeholder {
          color: #2b2b2b;
          text-align: center;
          word-break: break-word;
          font-size: 14px;
          font-style: italic;
          opacity: 0.5;
        }
      }

      img {
        cursor: pointer;
        width: 30px;
        margin-top: 5px;
        display: block;
        margin: 1rem auto;
      }
    }
  }

  .right_container {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-left: 1rem;
    text-align: center;

    .row {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .title {
        color: #1c3e5c;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .description {
        color: #575757;
        margin-top: 10px;
        white-space: pre-wrap;
      }
      .placeholder {
        opacity: 0.5;
        font-style: italic;
      }

      p {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .user-profile-container {
    height: 82.5vh !important;
  }

  .bottom_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left_container,
    .right_container {
      width: 100% !important;
    }

    .right_container {
      margin-top: 1rem !important;
      border-top: 1px solid #194470 !important;
      padding-top: 1.5rem !important;

      .row:nth-last-child(1) {
        margin-bottom: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 765px) and (max-height: 670px) {
  .user-profile-container {
    height: 81vh !important;
  }
}
