<div class="events-component">
  <div class="bar-title">Upcoming events and meetings</div>
  <div class="events-wrapper">
    <div
      class="single-event"
      *ngFor="let event of (events | sort: 'date'); index as i"
    >
      <div class="calendar">
        <div class="day" [ngClass]="{ blueTheme: i % 2 === 1 }">
          {{ event.eventStart | date: "dd" }}
        </div>
        <div class="month">
          {{ event.eventStart | date: "LLL" | uppercase }}
        </div>
      </div>
      <div class="event-info">
        <div class="event-name">
          {{ event.name }}
        </div>
        <div class="event-tags">
          <div class="event-time">
            {{ event.eventStart | date: "hh:mm" }}
            <span *ngIf="event.eventEnd"
              >-{{ event.eventEnd | date: "hh:mm" }}</span
            >
          </div>
          <div
            class="event-type"
            *ngFor="let tag of event.tags"
            [ngClass]="{ blueTag: i % 2 === 0 }"
          >
            {{ tag | uppercase }}
          </div>
        </div>
      </div>
    </div>
    <div class="no_events" *ngIf="events?.length === 0">
      You do not have any events coming soon for you
    </div>
  </div>
</div>
