<div class="edit-profile-container">
  <div class="title-bar">
    <mat-icon class="goBackToProfile" (click)="goBackToProfile()"
      >arrow_back</mat-icon
    >
    <p class="title">Edit Profile</p>
    <hr />
  </div>

  <div class="profile_container">
    <div class="body">
      <div class="right">
        <div class="section">
          <div class="content">
            <div class="profile_img_container">
              <div
                class="profile_image afterChange"
                [ngStyle]="{ 'background-image': getProfileImage() }"
                (click)="profileInput.click()"
              ></div>
            </div>
            <button class="with_icon" (click)="profileInput.click()">
              <mat-icon>attach_file</mat-icon>
              <div>Upload photo</div>
            </button>
            <input
              type="file"
              accept="image/*"
              hidden
              #profileInput
              (change)="profileChangeEvent($event)"
            />
          </div>
        </div>

        <!-- <div class="section" *ngIf="role === 'admin'">
          <div class="content">
            <p class="section_title">Role</p>
            <div
              class="select"
              [matMenuTriggerFor]="rolesDropdown"
              *ngIf="loggedUser.role"
            >
              <p>{{ loggedUser.role.name }}</p>
              <mat-icon>arrow_drop_down</mat-icon>
            </div>
          </div>
        </div> -->

        <div class="section">
          <div class="content">
            <button class="with_icon" (click)="openChangePasswordDialog()">
              <mat-icon>security</mat-icon>
              <div>Change password</div>
            </button>
          </div>
        </div>

        <div class="section" *ngIf="!isEgnOrganization">
          <div class="content">
            <button class="warn with_icon" (click)="openDeleteProfileDialog()">
              <mat-icon>delete_forever</mat-icon>
              <div>Delete profile</div>
            </button>
          </div>
        </div>
      </div>
      <div class="left">
        <div class="section" [ngClass]="{ formValid: generalForm.valid }">
          <div class="content">
            <p class="section_title">General Information</p>
            <form #generalForm="ngForm">
              <div class="input_label">
                <label
                  *ngIf="!loggedUser.name || loggedUser.name.length === 0"
                  (click)="name.focus()"
                >
                  Name<span>*</span>
                </label>
                <input
                  [(ngModel)]="loggedUser.name"
                  #name
                  name="name"
                  [ngStyle]="{
                    'border-color': !loggedUser.name ? '#ff6b6b' : ''
                  }"
                  required
                />
              </div>

              <div class="input_label">
                <label
                  *ngIf="
                    !loggedUser.position || loggedUser.position.length === 0
                  "
                  (click)="position.focus()"
                >
                  Position<span>*</span>
                </label>
                <input
                  [(ngModel)]="loggedUser.position"
                  #position
                  name="position"
                  [ngStyle]="{
                    'border-color': !loggedUser.position ? '#ff6b6b' : ''
                  }"
                  required
                />
              </div>
              <div class="input_label small">
                <label
                  *ngIf="
                    !loggedUser.birthday || loggedUser.birthday.length === 0
                  "
                  [owlDateTimeTrigger]="dt"
                >
                  Date of Birth
                </label>
                <input
                  name="birth"
                  required
                  [owlDateTimeTrigger]="dt"
                  [owlDateTime]="dt"
                  [(ngModel)]="loggedUser.birthday"
                />
                <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
              </div>
            </form>
          </div>
        </div>

        <div class="section" [ngClass]="{ formValid: contactForm.valid }">
          <div class="content">
            <p class="section_title">Contact Information</p>
            <form #contactForm="ngForm">
              <div class="input_label">
                <label
                  *ngIf="!loggedUser.email || loggedUser.email.length === 0"
                  (click)="email.focus()"
                >
                  Email<span>*</span>
                </label>
                <input
                  [(ngModel)]="loggedUser.email"
                  #email
                  name="email"
                  [ngStyle]="{
                    'border-color': !isEmailValid(loggedUser.email)
                      ? '#ff6b6b'
                      : ''
                  }"
                  required
                />
              </div>

              <div class="input_label small">
                <label
                  *ngIf="!loggedUser.phone || loggedUser.phone.length === 0"
                  (click)="phone.focus()"
                >
                  Mobile
                </label>
                <input
                  type="tel"
                  [(ngModel)]="loggedUser.phone"
                  #phone
                  name="phone"
                  required
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="underSection">
      <div class="section" [ngClass]="{ formValid: companyForm.valid }">
        <div class="content">
          <p class="section_title">Company Information</p>
          <form #companyForm="ngForm">
            <div class="input_label">
              <label
                *ngIf="!loggedUser.company || loggedUser.company.length === 0"
                (click)="company.focus()"
              >
                Company Name<span>*</span>
              </label>
              <input
                [(ngModel)]="loggedUser.company"
                #company
                required
                name="companyName"
                [ngStyle]="{
                  'border-color': !loggedUser.company ? '#ff6b6b' : ''
                }"
              />
            </div>
            <div class="input_label">
              <label
                *ngIf="
                  !loggedUser.companyAddress ||
                  loggedUser.companyAddress.length === 0
                "
                (click)="companyAddress.focus()"
              >
                Address
              </label>
              <input
                name="companyAddress"
                required
                [(ngModel)]="loggedUser.companyAddress"
                #companyAddress
              />
            </div>

            <div class="row">
              <div class="input_label">
                <label
                  *ngIf="
                    !loggedUser.companyZipCode ||
                    loggedUser.companyZipCode.length === 0
                  "
                  (click)="companyZipCode.focus()"
                >
                  Post Number
                </label>
                <input
                  name="companyZipCode"
                  [(ngModel)]="loggedUser.companyZipCode"
                  #companyZipCode
                  required
                />
              </div>
              <div class="input_label">
                <label
                  *ngIf="
                    !loggedUser.companyCity ||
                    loggedUser.companyCity.length === 0
                  "
                  (click)="companyCity.focus()"
                >
                  City
                </label>
                <input
                  [(ngModel)]="loggedUser.companyCity"
                  #companyCity
                  name="companyCity"
                  required
                />
              </div>
            </div>
            <div class="input_label small">
              <input
                type="text"
                style="display: none"
                name="countrySelected"
                [(ngModel)]="loggedUser.companyCountry"
                required
              />
              <app-country-select
                [(value)]="loggedUser.companyCountry"
                name="country"
              >
              </app-country-select>
            </div>
          </form>
        </div>
      </div>

      <div class="section" [ngClass]="{ formValid: privateForm.valid }">
        <div class="content">
          <p class="section_title">
            Private Contact Information
          </p>
          <form #privateForm="ngForm">
            <div class="input_label">
              <label
                *ngIf="
                  !loggedUser.privateEmail ||
                  loggedUser.privateEmail.length === 0
                "
                (click)="privateEmail.focus()"
              >
                Private email address
              </label>
              <input
                [(ngModel)]="loggedUser.privateEmail"
                #privateEmail
                name="privateEmail"
                required
              />
            </div>
            <div class="input_label">
              <label
                *ngIf="
                  !loggedUser.privatePhone ||
                  loggedUser.privatePhone.length === 0
                "
                (click)="privatePhone.focus()"
              >
                Private phone number
              </label>
              <input
                [(ngModel)]="loggedUser.privatePhone"
                #privatePhone
                name="privatePhone"
                required
              />
            </div>
            <div class="input_label">
              <label
                *ngIf="
                  !loggedUser.privateAddress ||
                  loggedUser.privateAddress.length === 0
                "
                (click)="privateAddress.focus()"
              >
                Address
              </label>
              <input
                [(ngModel)]="loggedUser.privateAddress"
                #privateAddress
                name="privateAddress"
                required
              />
            </div>

            <div class="row">
              <div class="input_label">
                <label
                  *ngIf="
                    !loggedUser.privateZipCode ||
                    loggedUser.privateZipCode.length === 0
                  "
                  (click)="privateZipCode.focus()"
                >
                  Post Number
                </label>
                <input
                  [(ngModel)]="loggedUser.privateZipCode"
                  #privateZipCode
                  name="privatePostNo"
                  required
                />
              </div>
              <div class="input_label">
                <label
                  *ngIf="
                    !loggedUser.privateCity ||
                    loggedUser.privateCity.length === 0
                  "
                  (click)="privateCity.focus()"
                >
                  City
                </label>
                <input
                  [(ngModel)]="loggedUser.privateCity"
                  #privateCity
                  name="privateCity"
                  required
                />
              </div>
            </div>
            <div class="input_label small">
              <input
                type="text"
                style="display: none"
                name="privateCountrySelected"
                [(ngModel)]="loggedUser.privateCountry"
                required
              />
              <app-country-select
                [(value)]="loggedUser.privateCountry"
                allCountries="true"
              ></app-country-select>
            </div>
          </form>
        </div>
      </div>

      <div class="section" [ngClass]="{ formValid: competencesForm.valid }">
        <div class="content">
          <p class="section_title">Professional Compentences</p>
          <form #competencesForm="ngForm">
            <div class="input_label small">
              <label
                *ngIf="
                  !loggedUser.expertise || loggedUser.expertise.length === 0
                "
                (click)="expertise.focus()"
              >
                Responsibilities and expertise
              </label>
              <textarea
                name="responsabilities"
                required
                [(ngModel)]="loggedUser.expertise"
                #expertise
                (keyup)="autogrow($event)"
              ></textarea>
            </div>
          </form>
        </div>
      </div>

      <div class="section" [ngClass]="{ formValid: careerForm.valid }">
        <div class="content">
          <p class="section_title">Career Experience and LinkedIn</p>
          <form #careerForm="ngForm">
            <div class="input_label">
              <label
                *ngIf="
                  !loggedUser.background || loggedUser.background.length === 0
                "
                (click)="background.focus()"
              >
                Background
              </label>
              <textarea
                [(ngModel)]="loggedUser.background"
                #background
                required
                name="background"
                (keyup)="autogrow($event)"
              ></textarea>
            </div>
            <div class="input_label small">
              <label
                *ngIf="
                  !loggedUser.linkedInProfile ||
                  loggedUser.linkedInProfile.length === 0
                "
                (click)="linkedInProfile.focus()"
              >
                LinkedIn Profile
              </label>
              <input
                [(ngModel)]="loggedUser.linkedInProfile"
                #linkedInProfile
                required
                name="linkedin"
                [ngStyle]="{
                  'border-color': !isLinkedinLinkValid(
                    loggedUser.linkedInProfile
                  )
                    ? '#ff6b6b'
                    : ''
                }"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="footer mobileFooter">
        <button class="cancelButton" (click)="goBackToProfile()">
          Cancel
        </button>
        <button (click)="saveChanges()">
          Save
        </button>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="cancelButton" (click)="goBackToProfile()">
      Cancel
    </button>
    <button (click)="saveChanges()">
      Save
    </button>
  </div>

  <mat-menu #rolesDropdown="matMenu" [overlapTrigger]="false">
    <p
      class="select_item"
      *ngFor="let role of roles"
      (click)="this.loggedUser.role = role"
    >
      {{ role.name }}
    </p>
  </mat-menu>
</div>
