<div class="search_header" [ngClass]="{ is_admin: isAdmin() }">
  <div class="search_input_container">
    <img src="/assets/images/search-dark.svg" />
    <input
      class="search_input"
      placeholder="Group name"
      [(ngModel)]="searchTerm"
      (keyup)="search($event)"
      autofocus
    />
  </div>

  <button (click)="openCreateEventDialog()" *ngIf="isAdmin()">
    Create group
  </button>
</div>

<div
  *ngFor="let user of (allUsers | sort: 'name'); index as i"
  class="users-wrapper"
>
  <div class="user-container">
    <div class="user-name">{{ user.name }}</div>
    <app-group-select-list
      [user]="user"
      [groupListChoices]="groupListChoices"
      class="select-list"
    ></app-group-select-list>
  </div>
</div>

<div class="spinner-container" *ngIf="isWaiting">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>

<!-- <mat-menu #userDropdownMenu="matMenu">
  <div class="group-list-dropdown" *ngFor="let group of groups">
    <button mat-menu-item [routerLink]="[routerLinkVariable, loggedUser.id]">
      <mat-icon>group</mat-icon>
      <span>{{ group.name }}</span>
    </button>
  </div>
</mat-menu> -->
