<div
  class="search_header"
  [ngClass]="{ is_admin: isAdmin() }"
  *ngIf="!isWaiting"
>
  <div class="search_input_container">
    <img src="./assets/images/search-dark.svg" />
    <input
      class="search_input"
      placeholder="Your user name here"
      (keyup)="search($event)"
      autofocus
    />
  </div>
</div>

<div
  *ngFor="let user of (allUsers | sort: 'name'); index as i"
  class="users-wrapper"
>
  <div class="user-container">
    <div class="user-name">{{ user.name }}</div>
    <app-group-select-list
      [user]="user"
      [groupListChoices]="groupListChoices"
      [groups]="groups"
      class="select-list"
    ></app-group-select-list>
  </div>
</div>

<div class="spinner-container" *ngIf="isWaiting">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
